coverage/
dist/
temp/
target/
node_modules/
node_modules1/
node_modules2/
node_modules3/
.happypack/

license.txt
npm-debug.log
webpack.config.local.js

npm-cache/

.env
.npmrc
*.tgz
.idea

package-lock.json
